API_PORT="your api port"
DATABASE_PORT="your database port"
DATABASE_NAME="your database name"
DATABASE_USER="your database user"
DATABASE_PASSWORD="your database password"
DATABASE_HOST="your database host"

JWT_SECRET_KEY="your jwt secret key"

CONN_STR="your postgres connection string"
